/*
	===============================
			Our Custom CSS
	===============================
*/

@font-face {
	font-family: SolaimanLipi;
	src: url(fonts/SolaimanLipi.ttf);
  }

body, body.dark {
    /* font-family: "Hind Siliguri", sans-serif; */
	font-family: SolaimanLipi;
}