/*
	===============================
			Our Custom CSS
	===============================
*/

@font-face {
	font-family: 'SolaimanLipi';
	src: url(fonts/SolaimanLipi.ttf);
  }

* {
    /* font-family: "Hind Siliguri", sans-serif !important; */
	font-family: 'SolaimanLipi' !important;
}
