/*
	===============================
			Our Custom CSS
	===============================
*/

@font-face {
	font-family: 'SolaimanLipi';
	src: url(fonts/SolaimanLipi.ttf);
  }

* {
    /* font-family: "Hind Siliguri", sans-serif !important; */
	font-family: 'SolaimanLipi' !important;
}

/* Login page cover image */
.auth-cover img, body.dark .auth-cover img {
    width: 250px;
    height: 250px;
}
